[Desktop Entry]
Type=Application
Name=NexusDoom
Comment=enhanced clone of the classic first-person shooter Doom
Icon=nexusdoom
TryExec=nexusdoom
Exec=nexusdoom %F
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;doom;boom;mbf;prboom;
StartupWMClass=dsda-doom
